/* font-family: 'Lobster Two', cursive; */
/* font-family: 'Roboto Mono', monospace; */

html {
  background: url(/images-main/images_contact/contact_main.jpg)no-repeat center center fixed;
  background-size: cover;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

header{
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 1;
  
}

.navbar {
  display: flex;
  justify-content: space-between;

}

#logo {
  background-color: black;
  padding: 10px;
  border-radius: 50px 0px 50px 0px;
  text-shadow: 2px 2px rgb(4, 221, 221);
}

.navbar ul {
  display: flex;
}

.navbar a {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 2px 1px 1px rgb(175, 2, 175)
}

.navbar .logo {
  color: white;
  text-align: center;
}

.navbar li {
  text-decoration: none;
  list-style: none;
  margin: 15px;
  /* background-color: black;
  padding: 10px;
  border-radius: 15px 15px 0px 0px; */
}



.about {
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main_info h1, h2, h3 {
  color: black;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  
}



.main_info {
  border: 3px solid black;
  height: 500px;
  width: 500px;
  margin: 150px 100px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 20px;
  justify-content: space-between;
  background-color: rgba(221, 220, 220, 0.651);
  overflow: overlay;

}

label {
  color: black;
  text-shadow: 1px 2px rgb(255, 145, 0);
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(23, 161, 202); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  cursor: pointer;
  background-color: rgb(255, 145, 0);
  border-radius: 15px;
  padding: 5px 5px;
}



footer {
  display: block;
  justify-content: space-around;
  align-items: center;
  font-size: .75em;
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
  padding: 10px 0px;
}

footer * {
  /* padding: 20px; */
  text-align: center;
  color: white;
}

footer img {
  width: 35px;
  height: 30px;
  display: inline-block;
}

.socials  a {
  padding: 0px 20px;
}



